@{
  Layout="Shared/_Layout.cshtml";
}
<h1>Add a new client</h1>
<form action="/clients/new" method="post">
  <label for="client-name">Client name:</label>
  <input id="client-name" name="client-name" type="text">
  <label for="client-phone">Client phone:</label>
  <input id="client-phone" name="client-phone" type="text">
  <label for="client-address">Client address:</label>
  <input id="client-address" name="client-address" type="text">
  <select name="stylist-id">
    @foreach (var stylist in Model)
    {
      <option value="@stylist.GetId()">@stylist.GetName()</option>
    }
  </select>
  <button type="submit">Add New</button>
</form>
<h4><a href="/">Return Home</a></h4>
<h4><a href="/clients">View All</a></h4>
